@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

* a{
    text-decoration: none;
    color: #444;
}

* a:hover{
    text-decoration: underline;
}

.center, .news-content{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 2%;
}

section.news{
    padding: 30px 20px;
    min-height: 90.7vh;
}


.esporte {
    background-color: #EC732F;
}
.economia {
    background-color: #CC0000;
}

.saude {
    background-color: #3EB283;
}

.carros {
    background-color: #52607A;
}

.tecnologia {
    background-color: #197bed;
}

.esporteTxt {
    color: #EC732F;
}

.economiaTxt {
    color: #CC0000;
}

.saudeTxt {
    color: #3EB283;
}

.carrosTxt {
    color: #52607A;
}


.tecnologiaTxt {
    color: #197bed;
}
