header{
    background-color: #56667E;
    padding: 10px 20px;
    -webkit-box-shadow: 0px 4px 10px -3px rgba(0,0,0,0.65);
    -moz-box-shadow: 0px 4px 10px -3px rgba(0,0,0,0.65);
    box-shadow: 0px 4px 10px -3px rgba(0,0,0,0.65);
    position: -webkit-sticky;   
    position: sticky;   

    top: 0; 
}

header .center{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo{
    width: 50%;
    font-size: 20px;
    font-weight: 500;
}


header a{
    color: #DDE6ED;
}

header a:hover{
    text-decoration: none;
}

header .logo span{
    color: #DDA11D;
}


#searchInput{
    padding: 6px 10px;
    width: 200px;
    height: 30px;
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: 12px;
    color: #56667E;
}

#searchInput::placeholder{
    color: #56667E;
    opacity: 0.5;
}
