.searchbar{
    width: 250px;
    display: flex;
    justify-content: flex-end;
}

#searchInput{
    border: 2px solid #DDE6ED;
    border-right: none;
    padding: 2px 10px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #56667E;
    font-size: 12px;
}

#searchInput::placeholder{
    color: #56667E;
    opacity: 0.6;
}


.searchButton {
    width: 40px;
    height: 35px;
    border: 1px solid #DDE6ED;
    background: #DDE6ED;
    text-align: center;
    color: #DDA11D;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 12px;
  }
  