.news-wrapper{
    width: 33.3%;
    padding: 0 20px 30px 20px;
}

.box-single-news{
    border: 1px solid #EEE;
    height: 100%;
    -webkit-box-shadow: 0px 4px 10px -3px rgba(0,0,0,0.65);
    -moz-box-shadow: 0px 4px 10px -3px rgba(0,0,0,0.65);
    box-shadow: 0px 4px 10px -3px rgba(0,0,0,0.65);
    
}
.box-single-news:hover{
    -webkit-box-shadow: 0px 8px 20px -3px rgba(0,0,0,0.65);
    -moz-box-shadow: 0px 8px 20px -3px rgba(0,0,0,0.65);
    box-shadow: 0px 8px 20px -3px rgba(0,0,0,0.65);
}

.box-single-news img{
    width: 100%;
    height: 120px;
    object-fit: cover;
}

.single-news-content{
    padding: 10px 20px 20px 20px;
}

.news-cat-dt{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-single-news .news-category{
    text-align: center;
    padding: 3px 20px;
    font-size: 10px;
    text-transform: uppercase;
}

.box-single-news .news-category a{
    color: #FFF;
}

.box-single-news .news-date{
    padding-top: 5px;
    font-size: 12px;
    font-weight: 500;
}

.single-news-content h2{
    text-align: left;
    font-size: 16px;
    color: #333;
    padding: 10px 0;
}

.single-news-content p{
    color: #444;
    text-align: justify;
    font-size: 14px;
    line-height: 1.6;
}


@media screen and (max-width: 800px) {
    .news-wrapper{
        width: 50%;
    }
  }

@media screen and (max-width: 600px) {
    .news-wrapper{
        width: 100%;
    }
  }
